<!-- <h3>Relatorio de vendas mensal</h3> -->

<div class="mat-elevation-z8">

  <!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nº</th>
        <th scope="col">Nome</th>
        <th scope="col">Data</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pedidosFormatado">

        <th scope="row">{{ item.idPedido }}</th>
        <td>{{ item.cliente.nome }}</td>
        <td>{{ item.dataPedido | date:'shortTime'}}</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table> -->

  <table mat-table [dataSource]="pedidos" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="idPedido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.idPedido}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.cliente.nome}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="dataPedido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Pedido </th>
      <td mat-cell *matCellDef="let element"> {{element.dataPedido}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="statusPedidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status Pedidos </th>
      <td mat-cell *matCellDef="let element"> {{element.statusPedido.nomeStatusPedido}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>