<mat-form-field appearance="fill">
  <mat-label>Data Inicial</mat-label>
  <input matInput [matDatepicker]="picker1" (dateInput)="addEventInitial('input', $event)"
    (dateChange)="addEventInitial('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Data Final</mat-label>
  <input matInput [matDatepicker]="picker2" (dateInput)="addEventFinal('input', $event)"
    (dateChange)="addEventFinal('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

<button (click)="filtrar()" color="primary">
  Filtrar
</button>
<!-- <div class="example-events">
  <div *ngFor="let e of events">{{e}}</div>
</div> -->

<div class="mat-elevation-z8">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nº</th>
        <th scope="col">Nome</th>
        <th scope="col">Data</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pedidosFormatado">

        <th scope="row">{{ item.idPedido }}</th>
        <td>{{ item.cliente.nome }}</td>
        <td>{{ item.dataPedido | date:'shortTime'}}</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>

</div>