<mat-card class="home container-fluid mat-elevation-z7">
    <!--     <mat-card-title class="title">
        Bem vindo !
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema de Teste em angular
    </mat-card-subtitle>
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                GANHOS DIARIO</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$120,00</div>
                        </div>
                        <div class="col-auto">
                            <button href="charts.html" class="btn btn-primary" type="button">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <div class="container-fluid">

        <!-- Page Heading - Painel de Controle-->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Painel de Controle</h1>

            <a routerLink="/relatorios" routerLinkActive="router-link-active"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> EXPORTAR RELATORIO
            </a>

            <!-- <a (click)="open()" routerLinkActive="router-link-active"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Modal
            </a> -->

        </div>

        <!-- Content -->
        <div class="row">

            <!-- CARD GANHO MES -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    GANHOS DIARIO</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">R$120,00</div>
                            </div>
                            <div class="col-auto">
                                <button href="charts.html" class="btn btn-primary" type="button">
                                    <i class="material-icons">
                                        monetization_on
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CARD GANHO ANO -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    GANHOS MENSAL</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">R$2.100,00</div>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-success" type="button">
                                    <i class="material-icons">
                                        monetization_on
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PEDIDOS ENTREGUES -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">PEDIDOS ENTREGUES
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-info" type="button">
                                    <i class="material-icons">
                                        local_shipping
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PEDIDOS Pendentes -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    PEDIDOS RECENTES</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-warning" type="button">
                                    <i class="material-icons">
                                        list_alt
                                        <!-- shopping_cart -->
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->

        <div class="row">

            <!-- PEDIDOS RECENTES-->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- CARD PRINCIPAL- Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">PEDIDOS RECENTES</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" [matMenuTriggerFor]="menu" role="button" id="dropdownMenuLink">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>

                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <a mat-list-item routerLink="/pedidos">
                                        Ver todos
                                    </a>
                                </button>
                                <!-- <button mat-menu-item>Item 2</button> -->
                            </mat-menu>

                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="card shadow mb-4">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nº</th>
                                        <th>Nome</th>
                                        <th>Entrega</th>
                                        <th>Data</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of pedidosFormatado">

                                        <th>{{ item.idPedido }}</th>
                                        <td>{{ item.cliente.nome }}</td>
                                        <td>{{ item.formaEnvio }}</td>
                                        <td>{{ item.dataPedido | date:'shortTime'}}</td>
                                        <td>{{ item.statusPedido.nomeStatusPedido }}</td>
                                        <!-- <td>
                                      <a (click)="buscarPedidoUnico(item.idPedido)" routerLink="/pedido/update" class="info">
                                        <i class="material-icons">
                                          edit
                                          error 
                                        </i>
                                      </a>
                                      
                                      <a routerLink="" class="print">
                                        <i routerLink="" class="material-icons">
                                          local_printshop
                                        </i>
                                      </a>
                            
                                      <a (click)="buscarPedidoUnico(item.idPedido)" routerLink="/pedido/recusar/" routerLinkActive="router-link-active"  class="clear">
                                        <i class="material-icons">
                                          clear
                                        </i>
                                      </a>
                                      </td> -->

                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Pie Chart GRAFICO 2 -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Taxa de pedidos</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Opções:</div>
                                <a class="dropdown-item" href="#">Ocultar</a>
                                <a class="dropdown-item" href="#">Sidqp</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Sidqp</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="myChart"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fas fa-circle text-success"></i>Entregues
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-warning"></i> Pendentes
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-danger"></i> Cancelados
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->
    </div>



</mat-card>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45]
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>