form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

button {
    margin-right: 10px;
}

.fechar {
    color: #000000;
    background-color: #ca1d1d;
}

.voltar {
    margin-left: 10px;
}

.imgButton {
    margin-bottom: 5px;
}