table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit>i {
    color: #e0de67;
}

.info>i {
    margin-right: 10px;
    color: #598dda;
}

.clear>i {
    margin-right: 10px;
    color: #da5959;
}

.print>i {
    margin-right: 10px;
    color: #598dda;
}