<div class="mat-elevation-z8">
    <div class="mat-elevation-z8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Nome</th>
                    <th>Entrega</th>
                    <th>Data</th>
                    <th>Status</th>
                    <th>Acão</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pedidosFormatado">

                    <th>{{ item.idPedido }}</th>
                    <td>{{ item.cliente.nome }}</td>
                    <td>{{ item.formaEnvio }}</td>
                    <td>{{ item.dataPedido | date:'dd/MM HH:mm'}}</td>
                    <td>{{ item.statusPedido.nomeStatusPedido }}</td>
                    <td>
                        <a (click)="buscarPedidoUnico(item.idPedido)" routerLink="/separacao/info/" class="info">
                          <i class="material-icons">
                            error
                          </i>
                        </a>
                        <a routerLink="" class="print">
                          <i routerLink="" class="material-icons">
                            local_printshop
                          </i>
                        </a>
                        <a (click)="buscarPedidoUnico(item.idPedido)" routerLink="/pedido/recusar/" routerLinkActive="router-link-active"  class="clear">
                            <i class="material-icons">
                              clear
                            </i>
                          </a>
                      </td>

                </tr>

            </tbody>
        </table>

        <!-- Ação Coluna -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let row">
                <a (click)="buscarPedidoUnico(row.idPedido)" routerLink="/info/:id" class="info">
                    <i class="material-icons">
                            edit
                        </i>
                </a>

                <a routerLink="" class="print">
                    <i routerLink="" class="material-icons">
                            local_printshop
                        </i>
                </a>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </div>

</div>