/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.login {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffffff;
}

.formLogin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.formLoginContent {
    text-decoration-color: none;
    margin-bottom: 10px;
}

.logoLogin {
    max-width: 512px;
}

.red {
    color: #e35e6b;
}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: #1b7cb4;
    color: #ffffff;
}

.msg-error {
    background-color: #b41b1b;
    color: #000000;
}

.msg-errorForm {
    background-color: #b41b1b;
    color: #ffffff;
}
/* 
.mat-expansion-panel-content > .mat-expansion-panel-body {
    padding: 0 !important;
  }
 */

/*  Color Theme Swatches in Hex 
.Bright-neon-purple-fluorescing-coral-1-hex { color: #575FF2; }
.Bright-neon-purple-fluorescing-coral-2-hex { color: #5C73F2; }
.Bright-neon-purple-fluorescing-coral-3-hex { color: #6B8DF2; }
.Bright-neon-purple-fluorescing-coral-4-hex { color: #022873; }
.Bright-neon-purple-fluorescing-coral-5-hex { color: #82B8D9; }

 Color Theme Swatches in RGBA 
.Bright-neon-purple-fluorescing-coral-1-rgba { color: rgba(87, 94, 242, 1); }
.Bright-neon-purple-fluorescing-coral-2-rgba { color: rgba(92, 114, 242, 1); }
.Bright-neon-purple-fluorescing-coral-3-rgba { color: rgba(106, 140, 242, 1); }
.Bright-neon-purple-fluorescing-coral-4-rgba { color: rgba(2, 39, 114, 1); }
.Bright-neon-purple-fluorescing-coral-5-rgba { color: rgba(130, 183, 216, 1); }

 Color Theme Swatches in HSLA 
.Bright-neon-purple-fluorescing-coral-1-hsla { color: hsla(236, 85, 64, 1); }
.Bright-neon-purple-fluorescing-coral-2-hsla { color: hsla(230, 85, 65, 1); }
.Bright-neon-purple-fluorescing-coral-3-hsla { color: hsla(225, 84, 68, 1); }
.Bright-neon-purple-fluorescing-coral-4-hsla { color: hsla(219, 96, 22, 1); }
.Bright-neon-purple-fluorescing-coral-5-hsla { color: hsla(202, 53, 68, 1); } */